.commentBox {
    position: relative;
    background-color: white;
    height: 3em;
    width: 90%;
    overflow-y: auto;
    text-align: left;
    align-items: left;
    left: 5%;
  }

form.DraftEditor-root {
    border: 1px solid #000;
    background-color: white;
    height: 3em;
    overflow-y: auto;
    justify-content:left;
    text-align: left;
    align-items: left;
    align-content: left;
  }