.commentBox {
    border: 1px solid #000;
    background-color: white;
    height: 3em;
    overflow-y: auto;
    text-align: left;
    align-items: left;
  }

form.DraftEditor-root {
    border: 1px solid #000;
    background-color: white;
    height: 3em;
    overflow-y: auto;
  }