.comment-block{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-indicator{
  text-align:right;
  width:100%;
  display:block;
  float:right;
  margin-top: 10px;
}

.comment-indicator-text{
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width:120px;
  padding:5px;
  float:right;
  margin-left:10px;
  text-align: center;
}

.comment-icon{
  width:40px;
  height:40px;
  float:right;
  filter: invert(100%)
}

.post-comment-block{
  background-color: white;
  display:flex;
  flex-direction: row;
  width: 96%;
  margin-top: 20px;
}

.meme-side{
  position:relative;
  left: 0px;
  top: 0%;
  width: 48%;
}

.meme{
  width:100%
}

.memeStuff{
  display: flex;
  flex-direction:column;
}

.meme-name{
  left:0px;
  font-size: 20px;
  text-align:left;
  color: black;
}

.postInterations{
  display: flex;
  flex-direction:row;
}

.arrowsLit{
  height: 50%;
  position: relative;
  top: 25%;
  filter: invert(49%) sepia(94%) saturate(2189%) hue-rotate(187deg) brightness(89%) contrast(90%);
}

.arrows{
  height: 50%;
  position: relative;
  top: 25%;
}

.poster-block{
  margin-left:2%;
  width:30%;
}

.meme-poster{
  right:0px;
  font-size: 20px;
  text-align:left;
  color: black;
}

.comment-side{
  position: relative;
  left: 4%;
  width:48%;

}

.commentArea {
  max-width: 95%;
  min-width: 50%;
  min-height: 100px;
}

.comment-text {
  text-align: left;
  color: black;
  margin-left: 20px;
  background-color: #c4c4c4;
  min-height: 1em;
}

.comment-author {
  text-align: left;
  color: black;
}

.comment {
  display: flex;
  flex-direction:row;
  width:96%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.comment-author-text {
  background-color: #c4c4c4;
}

.commentInterations{
  display: flex;
  flex-direction:column;
  max-width: 8%;
}

.upButtonC{
  background-color: #00FF47;
  border-color: #00FF47;
  border-width: 5%;
  border-style: solid; 
}

.upButtonLitC{
  background-color: #00FF47;
  max-height: 1.5em;
  border-color: #2D86D8;
  border-width: 5%;
  border-style: solid; 
}

.downButtonC{
  background-color: #FF8B8B;
  border-color: #FF8B8B;
  border-width: 5%;
  border-style: solid; 
}

.downButtonLitC{
  background-color: #FF8B8B;
  max-height: 1.5em;
  border-color: #2D86D8;
  border-width: 5%;
  border-style: solid; 
}

.greyButtonC{
  background-color: #767373;
  max-height: 1.5em;
  border-color: #767373;
  border-width: 5%;
  border-style: solid; 
}

.arrowsLitC{
  height: 70%;
  top:15%;
  position: relative;
  filter: invert(49%) sepia(94%) saturate(2189%) hue-rotate(187deg) brightness(89%) contrast(90%);
}

.arrowsC{
  height: 70%;
  top:15%;
  position: relative;
}
