.comment-block{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-indicator{
  text-align:right;
  width:100%;
  display:block;
  float:right;
  margin-top: 5px;
  margin-right: 5px;
}

.comment-indicator-text{
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  float:right;
  margin-left:10px;
  margin-right:10px;
  text-align: center;
  user-select: none;
  vertical-align: center;
  transition-duration: 0.4s;
}

.comment-indicator-text:hover{
  color: #2D86D8;
}

.comment-indicator-text:hover {
  cursor: pointer;
}

.comment-count-text{
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-left:50%;
  text-align: center;
  user-select: none;
  vertical-align: center;
}

.comment-icon{
  width:40px;
  height:40px;
  float:right;
  margin-right: 5px;
  filter: invert(100%);
}

.comment-icon:hover {
  cursor: pointer;
  filter: invert(44%) sepia(89%) saturate(557%) hue-rotate(171deg) brightness(89%) contrast(90%);
}

.post-comment-block{
  background-color: #EEEEEE;
  display:flex;
  flex-direction: row;
  width: 96%;
  margin-top: 20px;
  height: fit-content;
  min-height: 30vh;
}

.meme-side{
  position:relative;
  left: 0px;
  top: 0%;
  width: 48%;
}

.meme{
  width:100%
}

.memeStuff{
  display: flex;
  flex-direction:column;
}

.meme-name{
  left:0px;
  font-size: 24px;
  text-align:left;
  color: black;
  font-style: italic;
}

.postInterations{
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction:row;
  height: 48px;
  width: 100%;
}

.arrowsLit{
  height: 50%;
  position: relative;
  bottom: 35%;
  right: 15%;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 50%;
  margin-bottom: 50%;
  filter: invert(49%) sepia(94%) saturate(2189%) hue-rotate(187deg) brightness(89%) contrast(90%);
  max-width: 80%;
}

.arrows{
  height: 50%;
  position: relative;
  bottom: 35%;
  right: 15%;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 50%;
  margin-bottom: 50%;
  max-width: 80%;
}

.poster-block{
  margin-left:2%;
  width:30%;
}

.meme-by{
  right:0px;
  font-size: 20px;
  text-align:left;
  color: black;
}

.meme-poster{
  right:0px;
  font-size: 20px;
  text-align:left;
  font-weight: bold;
  color: blue;
}

.comment-side{
  overflow-y: auto;
  position: relative;
  left: 4%;
  width:48%;
}

.commentArea {
  max-width: 95%;
  min-width: 50%;
  min-height: 100px;
}

.comment-text {
  text-align: left;
  color: black;
  margin-left: 20px;
  min-height: 1em;
  font-size: 18px;
  width: 400px;
  word-wrap: break-word;
  left: 4%;
  min-height: 1em;
  width: calc(100% - 20px);
  max-width: 95%;
}

.comment-author-text {
  display: flex;
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 24px;
  max-height: 1.25em;
  overflow: hidden;
}

.comment {
  display: flex;
  flex-direction:row;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: #BCBCBC;
}

.commentInterations{
  display: flex;
  flex-direction:column;
  max-width: 8%;
}

.upButtonC{
  background-color: #00FF47;
  border-color: #00FF47;
  max-height: 1.5em;
  border-width: 5%;
  border-style: solid; 
}

.upButtonLitC{
  background-color: #00FF47;
  max-height: 1.5em;
  border-color: #2D86D8;
  border-width: 5%;
  border-style: solid; 
}

.downButtonC{
  background-color: #FF8B8B;
  border-color: #FF8B8B;
  max-height: 1.5em;
  border-width: 5%;
  border-style: solid; 
}

.downButtonLitC{
  background-color: #FF8B8B;
  max-height: 1.5em;
  border-color: #2D86D8;
  border-width: 5%;
  border-style: solid; 
}

.greyButtonC{
  background-color: #767373;
  max-height: 1.5em;
  border-color: #767373;
  border-width: 5%;
  border-style: solid; 
}

.arrowsLitC{
  height: 70%;
  top:15%;
  position: relative;
  filter: invert(49%) sepia(94%) saturate(2189%) hue-rotate(187deg) brightness(89%) contrast(90%);
  max-width: 80%;
}

.arrowsC{
  height: 70%;
  top:15%;
  position: relative;
  max-width: 80%;
}

.editor-comment{
  border-style: none;

}

div.DraftEditor-root {
  border: none;
  width:100%;
}

.comment-body {
  width: 100%;
  min-width: 35%;
}

.comments-all {
  position: absolute;
  display: block;
  flex-position: row;
  width: 100%;
}

.comments.show{
  width: calc(100% - 2px);
  color:black;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: #BCBCBC;
}

.comment-list {
  display: column;
  bottom: 0px;
  right: 0px;
  min-height: 400px;
  max-height: 600px;
  width: 100%;
  overflow-y: scroll;
}

.greyButton {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
  margin-top: 1px;
  height: 42px;
  width: 50px;
}

.upButton {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
  margin-top: 1px;
  height: 42px;
  width: 50px;
}

.downButton {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
  margin-top: 1px;
  height: 42px;
  width: 50px;
}

.upButtonLit {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
  margin-top: 1px;
  height: 42px;
  width: 50px;
  border-color: #2D86D8;
}

.downButtonLit {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
  margin-top: 1px;
  height: 42px;
  width: 50px;
  border-color: #2D86D8;
}

.post-info{
  text-align: left;
  margin-left: 5px;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  display: inline;
  overflow-x: hidden;
}

.comment-invite{
  color:black;
}

.downButtonLit:hover {
  cursor: pointer;
}
.upButtonLit:hover {
  cursor: pointer;
}

.upButton:hover {
  cursor: pointer;
}

.downButton:hover {
  cursor: pointer;
}