.addTag{
  border:none;
  border-radius:5px;
  background-color:lightgray;
}

.tag-header {
  color: black;
  height: fit-content;
}

.tags {
  background-color: white;
  margin:10px;
  border-style: double;
  border-radius: 10px;
  border-color: black;
  min-height: 100px;
}

.tag {
  display:inline;
}

.checkbox {
  margin-left: 5px;
  max-width:10px;  
}