/* import Roboto from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:fit-content;
}

.deleteIcon{
  float:right;
}

.settings{
  width:100%;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline:none;
}

.link-button:hover,
.link-button:focus,
.link-button:active {
  text-decoration: none;
  outline:none;
}

/* text links look like this */
.text-link {
  color: rgb(48, 48, 226);
  text-decoration: none;
  cursor: pointer;
}
.text-link:hover {
  color: rgb(74, 74, 255);

}

.no-suggestions {
  color: white;
  padding: 0.5rem;

}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 80%;
  margin: 10px auto;
}

.autocomplete input {
    width: 75%;
}

/*.autocomplete{*/
/*    min-height: 165px;*/
/*}*/

.profileform label{
   display:block;

}

.App-link {
  color: #09d3ac;
}

/* .postlist {
  text-align: left;
  background: blue;
  border-radius: 20px;
  padding:30px;
  margin:10px;

  width:60%;
  display: inline-flex;
} */

.post-image{
  width:250px;
  height:250px;
  display: block;
  margin: 0 auto;

  /*margin-bottom:15px;*/
}

.comments{
    background:white;
    width:90%;
    display:block;
    border-radius: 20px;
    padding:10px;
    margin:10px;
    color:black;
}

.commentlist {
  text-align: left;
  background: lightblue;
  color:black;
  border-radius: 20px;
  padding:10px;
  margin:10px;
  font-size: 12px;
  width:90%;
  display:block;
}


.left-background {
  position: fixed;
  left: 72%;
  width: 28%;
  background-color: #282c34;
  height: 100%;
}

.maincontent{
  display: flex;
  flex-direction: row;
  margin-top:70px;
  flex-grow: 1;
  height:fit-content;
}

.styleGuide{
    width: 100%;
}

.postbody{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidenav-icon{
  width:40px;
  height:40px;

  margin-bottom:15px;
}

.hide{
  display:none;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  line-height: 42px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Made it so text boxes cannot be resized */
/*textarea {*/
/*  resize: none;*/
/*}*/

.upload-input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 75%;
}

.page-title {
  font-family: 'Roboto bold', sans-serif;
  font-size: 24px;
}

.posting-block {
  position:absolute;
  left: 0px;
  width: 72%;
  height:fit-content;
  background-color: #C4C4C4;
  overflow: hidden;
}

.temp-login {
  left: 0px;
}

.upload-button{
  margin-right: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color:lightgray;
}

.upload-button-text{
  text-justify: center;
  text-align: center;
  text-decoration: none;
  text-decoration-color: blue;
}

.tagBlock {
  background-color: white;
  height: 100%;
  margin-right:10px;
}

.tagBlock2 {
  position: fixed;
}

.column-view {
  position:fixed;
  left:75%;
  display: flex;
  flex-direction: column;
  width:25%
}

.black-text {
  color: black;
}

.none {

}

.name-block{
  margin-left:2%;
  width:50%;
}

.upButton{
  background-color: #00FF47;
  width:20%;
  border-color: #00FF47;
  border-width: 5%;
  border-style: solid; 
}

.upButtonLit{
  background-color: #00FF47;
  width:20%;
  border-color: #2D86D8;
  border-width: 5%;
  border-style: solid; 
}

.downButton{
  background-color: #FF8B8B;
  width:20%;
  border-color: #FF8B8B;
  border-width: 5%;
  border-style: solid; 
}

.downButtonLit{
  background-color: #FF8B8B;
  width:20%;
  max-height: 15%;
  border-color: #2D86D8;
  border-width: 5%;
  border-style: solid; 
}

.greyButton{
  background-color: #767373;
  width:20%;
  max-height: 15%;
  border-color: #767373;
  border-width: 5%;
  border-style: solid; 
}

.user-profile {
  color: black;
  background: white;
  padding-bottom: 25px;
  box-sizing: content-box;
  padding: 50px;
  margin-left: 25%;
  width: 50%;
}

.small-profile-picture {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* styling for the style guide page */
.colorblocks {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.colorblocks .block {
    min-width: 50px;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Color Palette */

.color-primary {
    background-color: #FFFFFF;
    width: 15%;
}

.color-secondary {
    background-color: #2D86D8;
    width: 15%;
}

.color-confirm {
    background-color: #30D82D;
    width: 15%;
}

.color-decline {
    background-color: #FF5959;
    width: 15%;
}

.color-main-background {
    background-color: #C4C4C4;
    width: 15%;
}

/* Fonts */
.font-desktop-header {
    font-family: 'Roboto bold', sans-serif;
    font-size: 24px;
}
.font-desktop-body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.font-mobile-header {
    font-family: 'Roboto bold', sans-serif;
    font-size: 18px;
}
.font-mobile-body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
}

.desktop-confirm {
    display: inline-block;
    max-width: 426px;
    width: 80%;
    height: 47.41px;
    background: #30D82D;
    padding: 0;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 20px;
    margin-top: 10%;
}

.desktop-confirm:hover {
}

.desktop-confirm:hover span{
}

.desktop-confirm:focus span{
}

.desktop-confirm:focus{
}

.desktop-delete {
    width: 426px;
    height: 47.41px;
    background: #FF5959;
    padding: 0;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.desktop-tag {
    width: 301.77px;
    height: 159.98px;

    border: 2px solid #50E97A;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition-duration: 0.4s;
}

.desktop-tag:hover {
  background-color: #50E97A;
}

.desktop-tag:hover span{
  color: #FFFFFF;
  transition-duration: 0.4s;
}

.desktop-tag:focus span{
  color: #FFFFFF;
}

.desktop-tag:focus{
  background: #50E97A;
  border: 2px solid #50E97A;
  box-sizing: border-box;
  outline:0;
}

.mobile-tag {
    width: 350.31px;
    height: 64.83px;

    border: 2px solid #50E97A;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition-duration: 0.4s;
}

.mobile-tag:hover {
  background-color: #50E97A;
}

.mobile-tag:hover span{
  color: #FFFFFF;
  transition-duration: 0.4s;
}

.mobile-tag:focus span{
  color: #FFFFFF;
}

.mobile-tag:focus{
  background: #50E97A;
  border: 2px solid #50E97A;
  box-sizing: border-box;
  outline:0;
}

content{
    font-size: 18px;
    font-style: normal;
    color: black;
}

heading{
    font-size: 24px;
    font-style: bold;
    color: black;
}

.settingsform {
   text-align: center;
   display:block;
   font-size: 12px;
   color:black;
}

.desktop-back {
  color: #aaa;
  line-height: 42px;
  font-size: 35px;
  font-weight: bold;
}

.desktop-back:hover,
.desktop-back:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.stylepage{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    justify-content: center;
    flex-grow: 1;
}

.page-template {
  color: black;
  background: white;
  box-sizing: content-box;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
  width: 40%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.follower-list {
  color: black;
  text-align: left;
  margin:2%;
  display: flex;
  align-items:center;
}

.follower-list img {
  object-fit: cover;
  padding-right:5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


@media screen and (max-width: 1280px) {
  .follower-column {
    width: 100%;
  }
}

.commentArea {
  max-width: 95%;
  min-width: 50%;
  min-height: 100px;
}

.comment-text {
  text-align: left;
  color: black;
  margin-left: 20px;
  background-color: #c4c4c4;
  min-height: 1em;
}

.comment-author {
  text-align: left;
  color: black;
}

.comment {
  display: flex;
  flex-direction:row;
  width:96%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.comment-author-text {
  background-color: #c4c4c4;
}

.commentInterations{
  display: flex;
  flex-direction:column;
}
